.svg_icon {
  &-arrowRight,
  &.-arrowRightLong {
    transform: rotate(180deg);
  }
  &-importRight {
    transform: rotate(-90deg);
  }
  &-threeDotsHorizontal {
    transform: rotate(-90deg);
  }
}
