.emailWrap {
  & > div {
    padding-inline: 46px;
  }
}

.moreSendTo {
  & > ul {
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    & > ul {
      opacity: 1;
      visibility: visible;
    }
  }
}

.userInfo {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.4s;
  &.showUserInfo {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
}

.flexRowReverse {
  flex-direction: row-reverse;
}
