.emailComposeTo {
  & fieldset {
    border-color: transparent !important;
  }
  & .MuiInputBase-root {
    padding-block: 0 !important;
  }
}

.MuiAutocomplete-popper {
  .MuiPaper-root {
    max-height: 400px;
    overflow: scroll;
  }
}
