.modal-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .modal-header {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;

    .modal-close-button {
      margin-right: 16px;
      cursor: pointer;
    }
  }

  .modal-content {
    width: 100%;
    height: calc(100% - 110px);
    overflow: hidden;
    padding-bottom: 50px;

    .modal-content-scroll {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  .modal-button-bottom {
    // position: absolute;
    // bottom: 4px;
    width: 100%;
    height: 46px;

    .button-create-mui {
      width: 100%;
      height: 100%;
      background-color: #9822f4;
      border-radius: 15px;
    }
  }
}
